// Navigation code here
.nav-bar {

    h1 {
       display: flex;
       .centered-xy;
       font-size: 4rem; 
    }
    .nav-items {
        .items {
            .flex-row;
            .centered-xy;
            padding: 20px;
            font-size: 1.6rem;
            a {
                text-decoration: none;
                color: black;
                margin: 20px;
            }
        }
    }
}